.home {
    overflow: hidden;
    position: relative;
    height: 93vh;
}

.top_left_yellow {
    background-color: #FFD02A;
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    top: -75vh;
    left: -50vh;
    z-index: -1;
}

.bottom_left_pink {
    background-color: #FD475E;
    position: absolute;
    width: 150vh;
    height: 150vh;
    border-radius: 50%;
    bottom: -80vh;
    left: -125vh;
}

.bottom_right_purple {
    background-color: #8388FF;
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    bottom: -850px;
    right: -1350px;
}

.bottom_right_blue {
    background-color: #5F63D4;
    position: absolute;
    width: 100vh;
    height: 100vh;
    border-radius: 50%;
    bottom: -1100px;
    right: -1170px;
    z-index: -1;
}

.yellow_top h2 {
    text-align: left;
    color: #FFF;
    margin-left: 1em;
    margin-top: 1em;
}

.yellow_top h4 {
    color: #FFF;
    text-align: left;
    margin-left: 1.3em;
}



.candidat {
    width: 23vw;
    margin-top: 8%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.candidat_img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    overflow: hidden;
    z-index: 10;
}

.candidat_img img {
    top: 0;
    position: absolute;
    height: 100%;
    border: none;
}

.candidat_info {
    border-radius: 5px;
    position: relative;
    margin-top: 50%;
    box-shadow: 0px 0px 11px 0px rgba(217, 217, 217, 1);
    background-color: #FFF;
    padding-top: 53%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.candidat_info p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-overflow: ellipsis;
    margin-top: 20px;
}

.candidat_info h3 {
    font-size: 25px;
    margin-top: 20px;
}

.candidat_info a {
    color: #111;
    text-decoration: none;
}


.vote_btn {
    grid-column-start: 3;
    grid-row-start: 3;
    margin-top: 45%;
    margin-bottom: 20px;
}

.vote_btn button {
    background-color: #5F63D4;
    color: #FFF;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 35%;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
}

.homecandidates {
    display: flex;
    align-items: center;
    justify-content: center;
}