.home{
    height: 91.5vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.7fr 1fr 1fr 1fr 0.7fr;
    grid-template-rows: 1fr 4fr 2fr;
    position: relative;
}

.top_left_yellow{
    background-color: #FFD02A;
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    top: -1350px;
    left: -750px;
    z-index: -1;
}

.bottom_left_pink{
    background-color: #FD475E;
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    bottom: -850px;
    left: -1250px;
}

.bottom_right_purple{
    background-color: #8388FF;
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    bottom: -850px;
    right: -1350px;
}
.bottom_right_blue{
    background-color: #5F63D4;
    position: absolute;
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    bottom: -1100px;
    right: -1170px;
    z-index: -1;
}

.yellow_top h2{
    text-align: left;
    color: #FFF;
    margin-left: 1em;
}

.yellow_top h4{
    color: #FFF;
    text-align: left;
    margin-left: 1.5em;
}

.candidates{
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
}

.candidat{
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.candidat_img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightcoral;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
    overflow: hidden;
    z-index: 10;
}

.candidat_img img{
    top: 0;
    position: absolute;
    height: 100%;
}

.candidat_info{
    position: relative;
    top: 30%;
    box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
    background-color: #FFF;
    padding-top: 60%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.vote_btn{
    grid-column-start: 3;
    grid-row-start: 3;
}

.vote_btn button{
    background-color: #5F63D4;
    color: #FFF ;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 35%;
    border-radius: 50px;
    margin-top: 20%;

}



/* .home{
    height: 100vh;
}

.candidates{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
}

.candidat_info{
    border-radius: 5px;
    box-shadow: 0px 0px 11px 0px rgba(217,217,217,1);
    background-color: #FFF;
    margin: 0px 20px;
}

.candidat {
    position: relative;
}

.candidat_img{
    position: absolute;
    border-radius: 50%;
    width: 70%;
    height: 40%;
}


.vote_btn button{
    background-color: #5F63D4;
    color: #FFF ;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 5%;
    border-radius: 50px;
    margin-top: 5%;

}  */

