.wave-one {
    position: absolute;
    top: 90vh;
    left: 0px;
    width: 100vw;
    z-index: 2;
}

.part-one {
    position: relative;
    height: 98vh;
    background-color: #FFC700;
    overflow: hidden;

    .arrow-one {
        position: absolute;
        height: 18vh;
        top: 0;
        left: 10%;
    }

    .white-lines {
        position: absolute;
        height: 35vh;
        top: 15vh;
        left: 0;
    }

    .arrow-two {
        position: absolute;
        height: 8vh;
        top: 37vh;
        left: 27%;
    }

    .paf {
        position: absolute;
        height: 13vh;
        top: 30vh;
        left: 45%;
    }

    .squareSkew {
        position: absolute;
        top: -470px;
        right: -11%;
        height: 1000px;
        width: 79vh;
        background-color: #261F1F;
        transform: rotate(60deg) skewX(24deg);
    }

    p {
        position: absolute;
        padding: 0.5em 1em;
        font-size: 25px;
        background-color: white;
        color: #241F1F;
        text-align: center;
        text-transform: uppercase;
        font-weight: 800;
    }

    .p-one {
        border: 4px solid black;
        border-radius: 50px;
        top: 12vh;
        left: 20%;
        display: flex;
        align-items: center;

        span {
            width: 20px;
        }
    }

    .p-two {
        border: 4px solid black;
        top: 19vh;
        left: 30%;
    }

    .boom {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        top: 26vh;
        left: 20%;

        img {
            height: 100%;
        }

        p {
            position: absolute;
            background: none;
            margin-bottom: 0.5em;
        }
    }

    .envelope {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        top: 35vh;
        left: 35%;

        img {
            height: 100%;
        }

        p {
            background: none;
            margin-top: 1.5em;
        }
    }

    .buble {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 27vh;
        top: 45vh;
        left: 20%;

        img {
            height: 100%;
        }

        h1 {
            position: absolute;
            padding: 0.5em 1em;
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
            text-align: left;
            font-size: 65px;
            color: #241F1F;

            span {
                font-size: 25px;
                display: flex;
                align-items: center;
                text-transform: none;

                div {
                    height: 4px;
                    width: 40px;
                    background-color: black;
                    border-radius: 4px;
                    margin-right: 10px;
                }
            }
        }
    }

    .card {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 60vh;
        width: 50vh;
        top: 10vh;
        right: 19%;
        padding: 20px;
        background-color: white;
        border: 4px solid black;
        overflow: hidden;

        .img {
            height: 80%;
            overflow: hidden;
            border: 4px solid black;

            img {
                height: 100%;
            }
        }

        p {
            background: none;
            bottom: 20px;
        }

        &-two {
            top: 9vh;
            right: 15%;
            transform: rotate(8deg);
        }

        &-three {
            top: 8vh;
            right: 11%;
            transform: rotate(16deg);
        }
    }
}

.part-two {
    display: flex;
    flex-direction: column;
    height: 65vh;

    .table {
        height: 4vw;
        display: flex;
        flex-wrap: wrap;

        span {
            flex: 1;
            border: 2px solid black;
        }
    }

    .container {
        display: flex;
        flex: 1;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &-one {
                flex: 1;
            }

            &-two {
                height: 100%;
                width: 35%;
            }
        }
    }
}