.containerMaelissResult {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

* {
    font-family: 'Roboto Mono', monospace;
}

.squares {
    height: 4vw;
    display: flex;

    span {
        flex: 1;
        border: 2px solid #261F1F;
    }
}

.band {
    height: 12vw;
    width: 100%;
    background-color: #645AE3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: inset 0px 0px 0px 2px #261F1F;

    h2 {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 120px;
        color: white;
        margin-left: 0.5em;
        margin-right: 0.5em;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    }
}

.circle {
    position: absolute;
    bottom: -17vw;
    left: 50%;
    transform: translate(-50%, 0);
    height: 52vw;
    width: 52vw;
    border: 3px solid #261F1F;
    border-radius: 50%;
    background-color: #FFC500;
}


.palms {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 92vw;
}

.maeliss {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50vw;
}