.red {
    height: 50vh;
    width: 95vh;
    background: #FD475E;
    border-radius: 50%;
    transform: rotate(-50deg);
    z-index: -1;
    position: absolute;
    bottom: 62vh;
    left: -45vh;
}

.yellow {
    height: 200vh;
    width: 165vh;
    background: #FFD02A;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    top: 35vh;
    left: -100vh;
}

.violet {
    height: 100vh;
    width: 100vh;
    background: #5F63D4;
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    bottom: -65vh;
    right: -65vh;
}

.light-violet {
    height: 100vh;
    width: 50vh;
    background: #8388FF;
    border-radius: 50%;
    z-index: -2;
    position: absolute;
    bottom: -50vh;
    right: -30vh;
}

.votePage {
    height: 93vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

h1 {
    margin-bottom: 10px;
    color: #5F63D4;
}

.vote-list {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.candidate {
    height: 40vh;
    width: 22%;
    border-radius: 33px;
}

.candidate:last-child .img-candidate {
    border: 1px solid #000;
    border-bottom: none;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
}

.img-candidate {
    height: 80%;
    overflow: hidden;
    position: relative;
}

.img-candidate img {
    width: 100%;
}

.description {
    height: 20%;
    background: #fff;
    border: 1px solid #2C2C54;
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    color: #2C2C54;
    font-weight: 600;
}

.description p span {
    text-transform: uppercase;
}

input[type="radio"] {
    display: none;
}

.candidate-button {
    height: 17px;
    width: 17px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.candidate-button::after {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    border: 1px solid #2C2C54;
    border-radius: 5px;
}


input[type="radio"]:checked~.candidate-button {
    background: #2C2C54;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.content p {
    font-weight: 200;
}

.vote-button {
    background: #5F63D4;
    transition: 0.1s ease;
    color: #fff;
    text-transform: capitalize;
    width: 350px;
    padding: 7px 10px 7px 10px;
    font-size: 22pt;
    border-radius: 100px;
    margin-top: 20px;
    border: none;
}

.vote-button:hover {
    cursor: pointer;
    background: #797ce0;
}